# Next.js build output
.next/
out/
build/
dist/

# Dependencies
node_modules/

# Local Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
*.log

# OS & IDE
.DS_Store
Thumbs.db
